@font-face {
    font-family: 'Rimouski Sb';
    src: url("../fonts/rimouski.ttf") format("truetype");
}

@font-face {
    font-family: 'Gobold';
    src: url("../fonts/gobold/Gobold\ Regular.otf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Rimouski Sb';
}
a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s all;
}

a.hover-disable:hover {
    border: none !important;
}

button {
    background: linear-gradient(rgb(243, 85, 37),rgba(231, 98, 58, 0.8));
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    transition: 0.3s all;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.float-right{
    float: right;
}
.text-left{
    text-align: left;
}
.big-btn-x {
    border-radius: 40px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
}
.active {
    display: block !important;
}

header {
    position: absolute;
    width: 100%;
    z-index: 2;
}

header a:hover {
    border-bottom: 3px solid rgb(243, 85, 37);
}

.logo {
    position: absolute;
    margin-top: 30px;
    margin-left: 80px;
}

nav {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

nav ul li {
    display: inline;
    font-size: 13px;
    padding-right: 15px;
}

nav ul li:last-child {
    padding-right: 0;
}

.nav-menu {
    display: none;
}

#sidenav{
    width: 80%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 67px;
    background-color: rgba(20, 34, 42, 0.98);
    z-index: 1;
}

#sidenav ul li {
    background-color: rgba(20, 34, 42, 1);
    padding: 30px;
}

#home {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/home/header.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-text {
    position: absolute;
    top: 150px;
    left: 80px;
    color: #2d343b;
}

.home-text .title {
    width: 300px;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-family: 'Gobold', sans-serif;
    letter-spacing: 1px;
    mix-blend-mode: difference;
}

.home-text p {
    width: 400px;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 35px;
    color: #555d64;
    mix-blend-mode: difference;
}

.videoWatch {
    position: absolute;
    right: 250px;
    top: 220px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.videoImg {
    width: 25px;
    height: 25px;
    background-color: #1b2127;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #555;
    margin-bottom: 10px;
}

.videoWatch p {
    margin-left: -15px;
}

.x-height {
    padding-top: 60%;
}

.hr {
    width: 40px;
    border: 2px solid rgb(243, 85, 37);
    border-radius: 2px;
    margin-bottom: 10px;
}

#mission {
    padding: 80px;
    padding-top: 0;
}

#mission .title {
    text-align: center;
}

#mission .title h1 {
    font-size: 27px;
    color: #1b2127;
}

.mission {
    margin-top: 50px;
}

.clear {
    clear: both;
}

.item {
    background-image: url(../images/mission/mission-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24%;
    height: 300px;
    padding: 30px;
    float: left;
    margin-bottom: 20px;
    margin-right: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s all;
}

.item:hover {
    background-image: url(../images/mission/mission-bg2.png);
}

.item:hover .item-title {
    color: #fff;
}

.item:hover img {
    filter: invert(100%);
}

.item img {
    width: 40px;
    margin-top: 40px;
    transition: 0.3s all;
}

.item-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #2d343b;
    letter-spacing: 1px;
}

#invest {
    width: 100%;
    height: 400px;
    background-image: url(../images/invest/1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
}

.invest {
    text-align: center;
    color: #fff;
}

#invest .title h1 {
    font-size: 30px;
    font-family: 'Gobold', sans-serif;
}

#invest .invest-text {
    margin-top: 50px;
    letter-spacing: 1px;
    line-height: 30px;
}

.presidentsAddress {
    width: 50%;
    padding: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    padding-top: 150px;
    text-align: center;
}

.presidentsAddress button {
    margin-bottom: 30px;
}

.presidentsAddress p {
    text-decoration: underline;
    font-size: 20px;
    letter-spacing: 1px;
}

#download {
    padding: 80px;
    padding-top: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.download-left{
    position: relative;
    height: 500px;
}

.download-img {
    width: 100%;
    margin-top: -50px;
}

.download-left .bg {
    background-image: url(../images/Learn/Bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    width: 500px;
    position: absolute;
    z-index: 0;
}
.download-right{
    padding-left: 8.5%;
}
.core-interactive{
    height: 340px;
    width: 280px;
    position: absolute;
    z-index: 0;
    bottom: 30px;
    right: 50px;
    background-color: #14222A;
    border-radius: 10px;
    box-shadow: 0 0 2.5rem #80808080;
    padding: 50px 30px;
    box-sizing: border-box;
    color: white;
}
.core-interactive hr{
    height: 5px;
    width: 90%;
    background: #F04818;
    border: none;
    border-radius: 5px;
}
.core-interactive div{
    text-align: center;
    padding-top: 100px;
}
.core-interactive div button{
    background: none;
}
.core-interactive div h5{
    margin: 15px 0;
}
.download-pdf{
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 2rem #80808080;
    position: absolute;
    width: 350px;
    z-index: 4;
    background: white;
    left: 200px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.download-pdf button{
    border-radius: 50%;
    background-image: linear-gradient(to right,#F0A878,orange);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.download-pdf button img{
    height: 20px;
}
.download-pdf div{
    margin: auto;
}
.download-pdf div h2{
    color: #303078;
}
.download-right-title {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.download-right-text {
    font-size: 15px;
    color: #555;
    margin-bottom: 50px;
}

#team {
    height: 600px;
    background-image: url(../images/team/1.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 50px;
    color: white;
    margin-bottom: 50px;
}
#team-details,#team-cards,.card{
    display: inline-block;
}

#team-details{
    padding-top: 180px;
}

#team-details h1 {
    margin-bottom: 30px;
}

#team-details p {
    margin-bottom: 30px;
}

#team-cards{
    vertical-align: top;
    color: black;
    overflow-x: hidden;
    padding-top: 80px;
    height: 375px;
    position: absolute;
    right: 50px;
}
#team-cards .card {
    height: 300px;
    background: white;
    width: 250px;
    padding: 25px 20px 40px 20px;
    margin: 0 20px;
    box-shadow: 0 0 20px #00000021;
    text-align: center;
    position: relative;
}
#team-cards .card img{
    height: 200px;
}
#team-cards .card-text{
    position: absolute;
    left: 30px;
    bottom: 20px;
}
#team-cards .card-text h2{
    font-family: 'Gobold';
    margin: 20px 0;
}
#team h1{
    font-size: 25px;
}
#card-buttons button{
    background: none;
    padding: 10px;
}
#card-buttons button:hover{
    box-shadow: none;
}
#card-buttons{
    text-align: center;
}
#card-buttons img{
    height: 40px;
}
#faq{
    text-align: center;
}
.faq-title {
    margin-bottom: 40px;
}
.faq-details {
    text-align: left;
    width: 35%;
    height: auto;
    background: #80808052;
    
}
.big-faq{
    font-size: 80px;
    color: #80808069;
}
.faq-details-text {
    padding: 10px 50px;
    color: #444;
    font-size: 14px;
}
.faq-details-text p {
    margin-bottom: 40px;
}
#press{
    text-align: center;
    margin-top: 50px;
}
#press h1,#press p{
    margin: 10px;
}
#press h1{
    font-size: 2.5em;
}
#press p{
    color: #000000bd;
}
#press-cards{
    display: flex;
    justify-content: center;
}
#press-cards .card{
    position: relative;
    height: 360px;
    box-shadow: 0 0 10px #8080809c;
    max-width: 370px;
    width: 30%;
    margin: 20px;
}
.img-wrap{
    height: 65%;
    background: #808080;
}
#press-cards .card h2{
    padding: 20px 0 10px;
    color: #303078;
}
footer{
    position: relative;
    margin-top: 100px;  
}
#contact-us{
    background-image: url(../images/contact_us/Rectangle_15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin: auto;
    height: 200px;
    width: 100%;
    z-index: 2;
    padding-top: 80px;
}
#contact-us h2, #contact-us p {
    padding-left: 25%;
    box-sizing: border-box;
    margin: 20px 0;
}
#contact-us h2{
    font-size: 30px;
}
#contact-us h2 button{
    margin-left: 10%;
    background : #f06060;
    height: 40px;
    vertical-align: bottom;
    border-radius: 25px;
}
#contact-us p{
    font-size: 18px;
    margin-top: 10px;
}
#footer{
    padding-top: 180px;
    height: 450px;
    background-color: #152028;
    position: relative;
    width: 100%;
    top: 100px;
    z-index: 1;
    display: grid;
    grid-template-columns: 2.5fr repeat(3,1fr);
    color: white;
}
#contact-info{
    padding-left: 50px;
    color: #b5b3b3;
}
#contact-info div:nth-of-type(1){
    margin: 30px 0 50px;
}
#contact-info div:nth-of-type(2) p {
    margin: 20px 0;
}
#contact-info p{
    margin: 10px 0; 
}
#footer div:not(:nth-of-type(1)) p a{
    color: #b5b3b3;
}
#footer div:not(:nth-of-type(1)) *{
    margin: 30px 0;
}
#copyright{
    grid-column: 1/5;
    color: #b5b3b3;
    text-align : center;
}
@media (max-width : 1000px){
    .x-height{
        padding-top: 80%;
    }
}
@media (max-width: 800px){
    #home {
        width: 100%;
        position: unset;
        height: auto;
        background-image: unset;
        padding: 30px;
        padding-top: 100px;
        margin-bottom: 30px;
        background: linear-gradient(to right,white,#0000002e);
    }
    .home-text{
        position : inherit
    }
    .video-watch{
        position : inherit
    }
    nav {
        margin-right: 30px;
    }
    nav ul li{
        padding-right: 10px
    }
    nav li a{
        color : grey
    }
    .logo{
        margin-left: 40px
    }
    nav li button{
        padding: 10px 15px;
    }
} 
    @media (max-width : 600px){
        nav {
            display: none;
            float: none;
            margin-top: 30px;
            margin-right: 80px;
        }
        #home{
            background : none
        }
        header {
            position: fixed;
            background-color: #14222A;
            padding-bottom: 20px;
        }
        .nav-menu {
            display: block;
            float: right;
            color: #FFFFFF;
            font-size: 25px;
            margin-top: -30px;
            margin-right: 30px;
        }
        .logo {
            position: unset;
            margin-top: 20px;
            margin-left: 30px;
        }
        .videoWatch{
            display: none
        }
        .x-height {
            display: none;
        }   
        nav ul li {
            display: inline;
            font-size: 13px;
            padding-right: 20px;
        }
        
        nav ul li:last-child {
            padding-right: 0;
        }
    
        .home-text .title, .home-text p {
            width: inherit;
        }
    
        
        .videoWatch {
            display: none;
            color: #fff;
        }
         
    }
    @media (max-width: 500px) {    
        #mission {
            width: 100%;
            background-color: #eee;
            padding: 30px;
        }
    
        #mission .title h1 {
            font-size: 22px;
        }
    
        .item {
            width: 300px;;
            height: 300px;
            padding: 30px;
            float: none;
            margin-bottom: 20px;
            margin-right: 0;
        }
        
        #invest {
            width: 100%;
            height: 400px;
            background-image: unset;
            background-color: #14222A;
            padding: 30px;
            padding-top: 50px;
        }
    
        .presidentsAddress {
            width: 95%;
            padding: 10px;
            margin-top: 50px;
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;
        }
    
        #download {
            padding: 30px;
            padding-top: 150px;
            display: block;
        }
    
        .download-left {
            height: auto;
        }
    
        .download-right {
            padding-left: 0;
        }
    
        .download-img {
            display: none;
        }
    
        .download-left .core-interactive{
            height: 275px;
            width: 225px;
            bottom: 115px;
        }
        .download-left .bg{
            width: 425px;
        }
        .download-left .download-pdf{
            height: 80px;
            left: 40%;
        }
    
        #team {
            width: 100%;
            background-image: unset;
            background-color: #14222A;
            padding: 30px;
            height: auto;
        }
        
        #team-details {
            padding-top: 50px;
            display: block;
            text-align: center;
        }
    
        #team-cards{
            vertical-align: unset;
            overflow-x: initial;
            padding-top: 80px;
            height: auto;
            position: initial;
            right: 50px;
        }
    
        #team-cards .card {
            margin-bottom: 10px;
        }
    
        #press {
            width: 100%;
            padding: 30px;
            margin-top: 0;
        }
    
        .press-title {
            margin-bottom: 30px;
        }
    
        #press h1 {
            font-size: 25px;
        }
    
        #press p{
            color: #000000bd;
            font-size: 15px;
        }
        #press-cards{
            display: inherit;
            justify-content: center;
        }
        #press-cards .card{
            position: relative;
            height: 360px;
            box-shadow: 0 0 10px #8080809c;
            max-width: 370px;
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
    
        #faq {
            width: 100%;
            padding: 30px;
        }
    
        .faq-details {
            width: 100%;
        }
    
        footer {
            margin-top: 0;
        }
    
        #footer{
            position: initial;
            display: inherit;
            padding: 30px;
            height: auto;
        }
    
        #contact-us{
            position: inherit;
            background-image: unset;
            background-color: #eee;
            margin: 0;
            height: auto;
            z-index: 0;
            padding: 30px;
        }
    
        #contact-us h2, #contact-us p {
            padding-left: 0;
            margin: 5px;
        }
        
        #contact-us h2{
            font-size: 20px;
        }
    
        #contact-us h2 button{
            margin-left: 0;
            margin-top: 20px;
        }
    
        #contact-info{
            padding-left: 0;
        }
    }
    